data/
outputs/
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.pytest_cache/
.mypy_cache/
.cache/
.jj

# Where we cache UV's packages.
.uv_cache
# We download our python installs here. This way,
# the Docker container doesn't download python every time,
# and we are 100% sure Docker and the host system would
# use the same python version.
.python-installs

# Where built python wheels go
dist

input-data
output-data
